<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ site.main_title }} - {{ page.title }}</title>
	{% if page.description %}
	<meta name="description" content="{{page.description}}">
	{% else %}
	<meta name="description" content="{{site.description}}">
	{% endif %}
	<meta name="author" content=" Keith Millar">
	<link rel="stylesheet" href="/css/body.css"> 
	<link rel="icon" href="/css/images/site/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/css/images/site/favicon.ico">
</head>
<body>
