{% include head.html %}
<div id="wrap">
	<div id="header"><!-- Start Header -->
	{% include top-menu.html %}
	</div><!-- End Header -->
		
	<div id="main"><!-- Start Column 1-->
<h1>{{ page.title }}</h1>
<hr size="4" color="black">
 {{ content }}
<!-- Published date -->
 <p class="date-publish">
Published:
<date class="date-pub" title="{{ page.date | date_to_xmlschema }}" datetime="{{ page.date | date_to_xmlschema }}" pubdate>
 <span class="month"><abbr>{{ page.date | date: '%B' }}</abbr></span>
 <span class="day">{{ page.date | date: '%d' }}</span>
 <span class="year">{{ page.date | date: '%Y' }}</span>
 </date>
                                                </p>
{% include pagination.html %}
	</div><!-- end Column 1 -->
	<div id="sidebar"><!-- Start Column 2 and Sidebar -->
	{% include left-sidebar.html %}
	</div><!-- End Column 2 and Sidebar -->
	<div id="footer"><!-- Start Footer -->
	{% include footer.html %}
	
	</div><!-- End Footer -->
</div>
</body>
</html>
